In [135]:
# Dependencies
import pandas as pd
import json
import numpy as np
import jenkspy as jpy

# TRL - Ranking Algorithm

### This project uses WAR to determine the rankings of specific TRL players. Configuration options for the algorithm can be found in the cell below.

In [136]:
# Configuration Options

# Minimum threshold of games needed for a player in order to receive a rating:
games_threshold = 15

# WAR Calculation multipliers. Must add to 1
offense_multiplier = 0.75
defense_multiplier = 0.2
support_multiplier = 0.05

# Set as False to use classical WAR instead of cWAR
use_cwar = True
# cWAR Coefficient scalar
cwar_scalar = 0.75

# Part 1: Data Wrangling

### In this cell, we can determine which seasons we want to use for WAR computation

In [137]:
# Load all CSV files
Fall2022   = pd.read_csv('csv/per_season/Fall2022.csv', delimiter=';')
Fall2023   = pd.read_csv('csv/per_season/Fall2023.csv', delimiter=';')
Fall2024   = pd.read_csv('csv/per_season/Fall2024.csv', delimiter=';')
Spring2023 = pd.read_csv('csv/per_season/Spring2023.csv', delimiter=';')
Spring2024 = pd.read_csv('csv/per_season/Spring2024.csv', delimiter=';')
Summer2023 = pd.read_csv('csv/per_season/Summer2023.csv', delimiter=';')
Summer2024 = pd.read_csv('csv/per_season/Summer2024.csv', delimiter=';')
Winter2023 = pd.read_csv('csv/per_season/Winter2023.csv', delimiter=';')
Winter2024 = pd.read_csv('csv/per_season/Winter2024.csv', delimiter=';')

all_seasons = [Fall2022, Winter2023, Spring2023, Summer2023, Fall2023, Winter2024, Spring2024, Summer2024, Fall2024]

# Using all season data:
# seasons = all_seasons

# Using only last 4 seasons:
seasons = [Winter2024, Spring2024, Summer2024, Fall2024]

# Index of first season we want to use (do not modify)
start_season = None
for i, season in enumerate(all_seasons):
    if id(season) == id(seasons[0]):
        start_season = i + 1
        break

### Core merging / data wrangling algorithm. 

#### If additional usernames need to be added for a player, modify the `json/username_mapping.json` file and re-run these cells.

In [138]:
def merge_by_username_per_season(seasons_list):
    """
    Merges and aggregates statistics by player name for each DataFrame in the list separately.
    
    Parameters:
    seasons (list of pd.DataFrame): List of DataFrames to process.
    
    Returns:
    list of pd.DataFrame: List of DataFrames with statistics aggregated by player name for each season.
    """
    
    # Load JSON data from file into a Python dictionary
    with open('json/username_mapping.json', 'r') as file:
        username_mapping = json.load(file)
    
    def merge_and_aggregate(df):
        # Make all player names lowercase
        df['player name'] = df['player name'].str.lower()
        
        # Replace mapped names with their dictionary value
        df['player name'] = df['player name'].map(username_mapping).fillna(df['player name'])
        
        # Choose the statistics we actually want to use. These are total statistics across a season 
        # (i.e. none of these can be averages of any sort)
        columns_to_aggregate = [
            # Core statistics
            'games', 'wins', 'goals', 'assists', 'saves', 'shots', 
            # Other helpful, but not core statistics
            'shots conceded', 'goals conceded', 'amount stolen', 'amount used while supersonic', 
            # Time statistics
            'time supersonic speed', 'time on ground', 'time low in air', 'time high in air',
            'time in front of ball', 'time behind ball', 'time defensive third', 'time neutral third', 'time offensive third', 
            # Demolition statistics
            'demos inflicted', 'demos taken'
        ]
        
        # Merge all the statistics by adding them all up with respect to the player name
        grouped_by_name = df.groupby('player name')[columns_to_aggregate].sum().reset_index()
        
        return grouped_by_name
    
    # Process each season DataFrame
    merged_seasons = [merge_and_aggregate(season_df) for season_df in seasons_list]
    
    return merged_seasons


def calculate_per_game_per_season(seasons_list, threshold):
    """
    Calculate player statistics per game for each DataFrame in the list separately.
    
    Parameters:
    seasons (list of pd.DataFrame): List of DataFrames to process.
    games_threshold (int): Minimum number of games required to be included in the calculations.
    
    Returns:
    list of pd.DataFrame: List of DataFrames with per-game statistics for each season.
    """
    
    def calculate_per_game(season):
        # Calculate player statistics per game
        per_game_stats = season.copy()
        
        # Filter anyone with less than minimum required games
        per_game_stats = per_game_stats[per_game_stats['games'] >= threshold]
        
        # Calculate stats per game
        for col in ['wins', 'goals', 'assists', 'saves', 'shots', 'shots conceded', 'goals conceded', 'amount stolen',
                    'amount used while supersonic', 'time supersonic speed', 'time on ground', 'time low in air',
                    'time high in air', 'time in front of ball', 'time behind ball', 'time defensive third',
                    'time neutral third', 'time offensive third', 'demos inflicted', 'demos taken']:
            per_game_stats[col] = per_game_stats[col] / per_game_stats['games']
        
        # Rename wins to winrate now that it is a percentage:
        per_game_stats = per_game_stats.rename(columns={'wins': 'winrate'})
        
        # Drop unneeded columns
        per_game_stats.drop(columns=['games'], inplace=True)
        per_game_stats.reindex()
        
        return per_game_stats
    
    # Process each season DataFrame
    per_game_seasons = [calculate_per_game(season_df) for season_df in seasons_list]
    
    return per_game_seasons

### Data wrangling complete. 

#### All statistics necessary can be found in the `per_game_stats_by_season` variable, which is a list of dataframes sorted by oldest to most recent season.
#### Each dataframe in the list contains statistics-per-game values for that season, eg. Shots per Game for Spring 2024

In [139]:
merged_seasons_by_username = merge_by_username_per_season(seasons)
per_game_stats_by_season = calculate_per_game_per_season(merged_seasons_by_username, games_threshold)

# Data wrangling complete. The per_game_statsscaling_fac_by_season is our final array which has every useful statistic in it.
# Display the results:
for i, season_df_per_game in enumerate(per_game_stats_by_season, start=start_season):
    print(f"Season {i} merged statistics:")
    display(season_df_per_game.head())

Season 6 merged statistics:

,player name,winrate,goals,assists,saves,shots,shots conceded,goals conceded,amount stolen,amount used while supersonic,...,time on ground,time low in air,time high in air,time in front of ball,time behind ball,time defensive third,time neutral third,time offensive third,demos inflicted,demos taken
0,aarav,0.642857,1.321429,0.696429,1.803571,3.732143,6.089286,1.732143,589.839286,424.875000,...,185.935357,157.556250,18.485179,97.931607,264.046071,167.900714,113.172500,80.904643,1.392857,0.642857
1,arby,0.753846,0.876923,0.569231,1.092308,2.400000,6.123077,1.492308,449.200000,174.600000,...,235.813385,118.539077,13.353538,88.698923,279.007385,175.120154,121.892154,70.693538,0.676923,0.969231
2,argon,0.400000,0.920000,0.440000,1.340000,2.820000,7.640000,2.400000,553.960000,440.680000,...,187.238200,153.697200,18.197200,112.204600,246.927200,174.667400,110.696600,73.767600,1.160000,0.840000
3,azapatos,0.681818,2.287879,0.363636,2.742424,4.924242,8.015152,2.106061,488.303030,296.969697,...,183.965455,149.313939,26.987576,79.636364,280.630909,189.015152,106.145303,65.106515,1.409091,0.787879
4,beeholder,0.428571,0.464286,0.321429,1.071429,1.357143,8.035714,2.607143,269.142857,108.392857,...,211.172857,135.405357,6.971071,86.721429,266.826786,193.223214,107.625357,52.701429,0.607143,0.535714

Season 7 merged statistics:

,player name,winrate,goals,assists,saves,shots,shots conceded,goals conceded,amount stolen,amount used while supersonic,...,time on ground,time low in air,time high in air,time in front of ball,time behind ball,time defensive third,time neutral third,time offensive third,demos inflicted,demos taken
0,arby,0.315789,0.631579,0.447368,0.894737,2.710526,7.421053,3.026316,589.105263,212.526316,...,213.256579,123.878158,15.714211,109.635526,243.211579,158.866579,112.590263,81.391053,0.763158,1.052632
1,argon,0.604651,0.976744,0.674419,0.883721,3.279070,7.000000,2.139535,633.627907,432.651163,...,187.476744,155.380233,18.589302,119.036744,242.409767,162.207674,110.913023,88.325581,1.767442,0.720930
2,awe,0.555556,0.422222,0.488889,0.844444,1.777778,7.044444,1.866667,465.311111,237.711111,...,224.020222,118.697111,13.935778,94.590667,262.063111,180.058667,113.194000,63.400000,0.977778,0.644444
3,beeholder,0.434783,0.413043,0.456522,1.130435,1.630435,9.326087,2.847826,337.913043,153.760870,...,212.578043,149.674348,12.439783,104.196304,270.496304,199.381087,112.086739,63.224348,0.956522,0.500000
4,bylebukong,0.630435,0.934783,0.565217,1.260870,3.304348,6.413043,1.891304,630.065217,266.500000,...,218.622391,132.895870,15.701739,101.417391,265.801522,159.021087,120.973043,87.225435,1.043478,0.891304

Season 8 merged statistics:

,player name,winrate,goals,assists,saves,shots,shots conceded,goals conceded,amount stolen,amount used while supersonic,...,time on ground,time low in air,time high in air,time in front of ball,time behind ball,time defensive third,time neutral third,time offensive third,demos inflicted,demos taken
0,argon,0.192308,1.000000,0.230769,1.384615,2.730769,8.730769,3.269231,551.384615,354.153846,...,178.106154,155.576154,17.139615,112.631154,238.188462,174.253077,106.776538,69.790385,1.230769,0.615385
1,deso,0.720000,0.880000,0.560000,1.320000,3.440000,6.520000,1.480000,508.880000,333.160000,...,210.606400,141.416800,16.685200,88.163200,280.545200,175.133600,114.854400,78.720400,0.800000,1.200000
2,dies,0.720000,0.640000,0.560000,1.160000,2.360000,6.520000,1.480000,371.240000,116.280000,...,238.961600,117.634000,12.712000,87.433200,281.874000,177.155600,121.690000,70.462800,0.800000,0.840000
3,domo,0.454545,0.787879,0.636364,1.575758,2.060606,8.515152,2.787879,562.242424,355.515152,...,226.466970,124.446061,15.390909,109.081212,257.222727,178.052424,118.212424,70.040909,1.181818,0.757576
4,elatedthug,0.448276,0.482759,0.482759,0.689655,2.206897,6.448276,2.344828,401.965517,104.896552,...,217.263103,126.846897,9.509655,98.559310,255.062414,163.713103,120.993103,68.913793,0.448276,0.931034

Season 9 merged statistics:

,player name,winrate,goals,assists,saves,shots,shots conceded,goals conceded,amount stolen,amount used while supersonic,...,time on ground,time low in air,time high in air,time in front of ball,time behind ball,time defensive third,time neutral third,time offensive third,demos inflicted,demos taken
0,argon,0.575000,1.025000,0.850000,1.275000,3.050000,7.625000,2.125000,695.975000,450.900000,...,189.625750,163.053250,20.280500,126.312500,246.648000,169.338000,116.360250,87.260750,1.575000,0.775000
2,brictone,0.324324,0.729730,0.513514,1.189189,2.297297,9.027027,3.054054,445.621622,307.324324,...,244.039730,115.419459,10.505135,106.247838,263.717027,188.547027,116.730541,64.688378,0.540541,1.000000
3,capijack,0.428571,0.571429,0.321429,1.250000,2.035714,8.535714,2.500000,528.642857,334.607143,...,212.406786,137.779286,18.137143,103.870357,264.452857,188.416429,107.027143,72.880000,0.964286,1.178571
5,deso,0.711538,1.288462,0.750000,1.076923,3.903846,6.461538,1.711538,686.846154,493.461538,...,216.544615,143.732115,20.509615,104.942308,275.844231,172.514038,117.847308,90.425769,1.019231,0.750000
6,fernado,0.686567,1.089552,0.761194,1.402985,3.149254,7.313433,2.194030,471.776119,216.477612,...,234.807164,127.006866,18.814925,101.898507,278.731493,180.260746,127.991493,72.376716,1.149254,0.910448

# Part 2: Load team data

### Teammates and their data is sometimes used during WAR computation, so it is loaded here.

In [140]:
# Helpful methods for loading and locating teammate data

def get_statistic(name, statistics_df, statistic_name):
    # Filter the DataFrame for the given player name
    player_stats = statistics_df[statistics_df['player name'] == name]

    # Check if the player exists in the DataFrame
    if not player_stats.empty:
        # Return the desired statistic value
        return player_stats.iloc[0][statistic_name]
    
    # Return 0 if the player does not exist
    return 0

def get_teammate_stats(teams_one_season, statistics_df, statistic_name):
    # 1. create two new columns with the teammate names
    df_with_teammates = statistics_df.copy()
    df_with_teammates['teammate_1'] = ''
    df_with_teammates['teammate_2'] = ''
    
    for index, row in df_with_teammates.iterrows():
        name = row['player name']
        
        for team_list in teams_one_season:
            if name in team_list:
                teammates_list = team_list.copy()
                teammates_list.remove(name)
                
                if len(teammates_list) >= 2:
                    df_with_teammates.at[index, 'teammate_1'] = teammates_list[0]
                    df_with_teammates.at[index, 'teammate_2'] = teammates_list[1]
                elif len(teammates_list) == 1:
                    df_with_teammates.at[index, 'teammate_1'] = teammates_list[0]
        
    # 2. Load the necessary statistics and add to the dataframe
    df_with_teammates[f'teammate_{statistic_name}'] = 0.0
    for index, row in df_with_teammates.iterrows():
        
        df_with_teammates.at[index, f'teammate_{statistic_name}'] = (
                get_statistic(row['teammate_1'], statistics_df, statistic_name) + get_statistic(row['teammate_2'], statistics_df, statistic_name)
        )
        
        # Add any other necessary teammate statistics here...
    
    # Drop unneeded columns
    df_with_teammates.drop(columns=['teammate_1', 'teammate_2'], inplace=True)
    df_with_teammates.reindex()    
    
    return df_with_teammates

# Load the JSON file containing all the teams
with open('json/teams_per_season.json', 'r') as json_file:
    teams_per_season = json.load(json_file)

# Part 3: WAR Computation

### This is the core algorithm that makes the wheels turn. 
#### Note that the offense, defense, and support multipliers can be modified in the configuration cell, near the top of this notebook.

In [141]:
def calculate_war_per_season(seasons_list, offense_mult=offense_multiplier, defense_mult=defense_multiplier, support_mult=support_multiplier):
    """
    Calculate WAR for each player in each season DataFrame separately.
    
    Parameters:
    seasons (list of pd.DataFrame): List of DataFrames to process. This should be averages per game, sorted by season.
    offense_multiplier (float): Multiplier for offensive statistics.
    defense_multiplier (float): Multiplier for defensive statistics.
    support_multiplier (float): Multiplier for support statistics.
    
    Returns:
    list of pd.DataFrame: List of DataFrames with WAR calculated for each player in each season.
    """
    
    def calculate_war(player_stats_one_season, season_index):
        # Calculate averages for each statistic
        averages_one_season = player_stats_one_season[player_stats_one_season.select_dtypes(include='number').columns].mean()
        
        # Make a new dataframe to store the WAR computations
        rankings_one_season = player_stats_one_season.copy()
        
        # Pull teammate statistics
        teammate_stats_one_season = get_teammate_stats(teams_per_season.get(f"{season_index}"), player_stats_one_season, 'goals')
        
        # Calculate WAR
        rankings_one_season['WAR'] = (
            offense_mult * (
                + (player_stats_one_season['goals'] - averages_one_season['goals'])
                + (player_stats_one_season['assists'] - averages_one_season['assists']) * 0.75
                + (
                        (player_stats_one_season['shots'] - player_stats_one_season['goals'])
                      - (averages_one_season['shots'] - averages_one_season['goals'])
                ) * 0.33          
            ) +
            defense_mult * (
                + (player_stats_one_season['saves'] - averages_one_season['saves']) * 0.6
                - (player_stats_one_season['shots conceded'] - averages_one_season['shots conceded']) * 0.15
                - (player_stats_one_season['goals conceded'] - averages_one_season['goals conceded']) * 0.33
            ) + 
            support_mult * (
                + (player_stats_one_season['demos inflicted'] - averages_one_season['demos inflicted']) * 0.1
                - (player_stats_one_season['demos taken'] - averages_one_season['demos taken']) * 0.1
                + (player_stats_one_season['amount stolen'] - averages_one_season['amount stolen']) * 0.005
            )
        ) + 2
        
        # Store intermediate results
        rankings_one_season.to_csv(f'results/WAR/season_{season_index}.csv', index=False)
        
        # Drop every column except the ones we want to view
        rankings_one_season = rankings_one_season[['player name', 'WAR']]
        
        return rankings_one_season
    
    # Process each season DataFrame
    war_seasons = [calculate_war(season_df, i) for i, season_df in enumerate(seasons_list, start=start_season)]
    
    return war_seasons

In [142]:
# Run the calculate_war_per_season function
war_by_season = calculate_war_per_season(per_game_stats_by_season)

# Display the results
for i, season_df in enumerate(war_by_season, start=start_season):
    print(f"Season {i} WAR statistics:")
    display(season_df.head())

Season 6 WAR statistics:

  player name       WAR
0       aarav  2.902151
1        arby  2.166625
2       argon  2.173088
3    azapatos  3.499821
4   beeholder  1.385120

Season 7 WAR statistics:

  player name       WAR
0        arby  1.840946
1       argon  2.370470
2         awe  1.582210
3   beeholder  1.392803
4  bylebukong  2.368102

Season 8 WAR statistics:

  player name       WAR
0       argon  1.944669
1        deso  2.406051
2        dies  1.966341
3        domo  1.963293
4  elatedthug  1.700085

Season 9 WAR statistics:

  player name       WAR
0       argon  2.455408
2    brictone  1.748906
3    capijack  1.577156
5        deso  2.776362
6     fernado  2.423751

# Part 3b: Experimental Clustering

### This is a test cell which uses the Fisher-Jenks algorithm to assign predicted tiers to players.

In [143]:
for i, season_df in enumerate(war_by_season, start=start_season):
    breaks = jpy.jenks_breaks(season_df['WAR'], n_classes=5)
    season_df['cluster'] = pd.cut(season_df['WAR'], bins=breaks, labels=['5', '4', '3', '2', '1'], include_lowest=True)
    
    print(f"Season {i} clusters:")
    display(season_df.head())
    
    cluster_averages = season_df.groupby('cluster', observed=True)['WAR'].mean().reset_index()
    cluster_averages.columns = ['cluster', 'average_WAR']
    
    print(f"season {i} cluster averages:")
    display(cluster_averages)

Season 6 clusters:

  player name       WAR cluster
0       aarav  2.902151       2
1        arby  2.166625       3
2       argon  2.173088       3
3    azapatos  3.499821       1
4   beeholder  1.385120       5

season 6 cluster averages:

  cluster  average_WAR
0       5     1.357997
1       4     1.753900
2       3     2.242490
3       2     2.936868
4       1     3.499821

Season 7 clusters:

  player name       WAR cluster
0        arby  1.840946       4
1       argon  2.370470       3
2         awe  1.582210       4
3   beeholder  1.392803       5
4  bylebukong  2.368102       3

season 7 cluster averages:

  cluster  average_WAR
0       5     1.352985
1       4     1.748897
2       3     2.211895
3       2     2.629531
4       1     2.996261

Season 8 clusters:

  player name       WAR cluster
0       argon  1.944669       3
1        deso  2.406051       2
2        dies  1.966341       3
3        domo  1.963293       3
4  elatedthug  1.700085       4

season 8 cluster averages:

  cluster  average_WAR
0       5     1.200403
1       4     1.587755
2       3     1.998959
3       2     2.305011
4       1     2.990090

Season 9 clusters:

  player name       WAR cluster
0       argon  2.455408       2
2    brictone  1.748906       4
3    capijack  1.577156       4
5        deso  2.776362       1
6     fernado  2.423751       2

season 9 cluster averages:

  cluster  average_WAR
0       5     1.305704
1       4     1.682094
2       3     2.032975
3       2     2.502543
4       1     2.799788

# Part 4: Corrected WAR (cWAR)

### This sub-algorithm factors in performance of teammates to award bonuses for "carry" potential.

In [144]:
def calculate_cwar_per_season(seasons_list):
    """
    Calculate cWAR for each player in each season DataFrame separately.
    
    Parameters:
    seasons (list of pd.DataFrame): List of DataFrames to process. This should be WAR per player, sorted by season.
    scaling_factor (float): Multiplier for cWAR computation
    
    Returns:
    list of pd.DataFrame: List of DataFrames with cWAR calculated for each player in each season.
    """
    def calculate_cwar(player_war_one_season, season_index, scaling_factor=cwar_scalar):
        
        # Make a new dataframe which has the sum of WAR of both teammates:
        cwar_one_season = get_teammate_stats(teams_per_season.get(f"{season_index}"), player_war_one_season, 'WAR')
        
        # Drop rows where teammate's WAR sum is zero. This usually happens when a player was a sub i.e. the player
        # had no teammates.
        cwar_one_season = cwar_one_season[cwar_one_season['teammate_WAR'] != 0]
        
        # Compute I_p~t for each player, and put it in a column called 'performance'
        cwar_one_season['performance'] = cwar_one_season['WAR'] / cwar_one_season['teammate_WAR']
        
        # Calculate the average across the 'performance' column
        averages_one_season = cwar_one_season[cwar_one_season.select_dtypes(include='number').columns].mean()
        
        # Add statistic to dataframe, for viewing later - line can be commented out to de-clutter final dataframe
        cwar_one_season['avg_performance'] = averages_one_season['performance']
        
        # Finally, calculate the cWAR of each player
        cwar_one_season['cWAR'] = (
                cwar_one_season['WAR'] 
                + scaling_factor * (
                        (cwar_one_season['performance'] - averages_one_season['performance']) / averages_one_season['performance']
                )
        )
        
        # Store intermediate results
        cwar_one_season.to_csv(f'results/cWAR/season_{season_index}.csv', index=False)
        
        return cwar_one_season
        
    
    # Process each season DataFrame
    cwar_seasons = [calculate_cwar(season_df, i) for i, season_df in enumerate(seasons_list, start=start_season)]
    
    return cwar_seasons

In [145]:
# Run the calculate_cwar_per_season function
cwar_by_season = calculate_cwar_per_season(war_by_season)

# Display the results
for i, season_df in enumerate(cwar_by_season, start=start_season):    
    print(f"Season {i} cWAR:")
    display(season_df.head())

Season 6 cWAR:

,player name,WAR,cluster,teammate_WAR,performance,avg_performance,cWAR
0,aarav,2.902151,2,4.403967,0.658986,0.522415,3.098218
1,arby,2.166625,3,5.194096,0.417132,0.522415,2.015477
2,argon,2.173088,3,3.776786,0.575380,0.522415,2.249128
3,azapatos,3.499821,1,2.829047,1.237102,0.522415,4.525856
4,beeholder,1.385120,5,3.929774,0.352468,0.522415,1.141137

Season 7 cWAR:

,player name,WAR,cluster,teammate_WAR,performance,avg_performance,cWAR
0,arby,1.840946,4,3.566613,0.516161,0.524522,1.828990
1,argon,2.370470,3,4.240474,0.559011,0.524522,2.419783
2,awe,1.582210,4,4.284636,0.369275,0.524522,1.360226
3,beeholder,1.392803,5,4.298872,0.323993,0.524522,1.106071
4,bylebukong,2.368102,3,4.013595,0.590020,0.524522,2.461756

Season 8 cWAR:

,player name,WAR,cluster,teammate_WAR,performance,avg_performance,cWAR
0,argon,1.944669,3,2.609645,0.745185,0.517228,2.275215
1,deso,2.406051,2,4.053653,0.593551,0.517228,2.516723
2,dies,1.966341,3,4.493363,0.437610,0.517228,1.850892
3,domo,1.963293,3,4.031635,0.486972,0.517228,1.919420
4,elatedthug,1.700085,4,4.432955,0.383511,0.517228,1.506190

Season 9 cWAR:

,player name,WAR,cluster,teammate_WAR,performance,avg_performance,cWAR
0,argon,2.455408,2,4.267524,0.575371,0.595783,2.429713
2,brictone,1.748906,4,3.349582,0.522127,0.595783,1.656184
3,capijack,1.577156,4,3.521332,0.447886,0.595783,1.390976
5,deso,2.776362,1,4.233699,0.655777,0.595783,2.851885
6,fernado,2.423751,2,4.630663,0.523413,0.595783,2.332649

# Part 5: WAR Weighting

### More recent seasons will receive a preferential weighting compared to older seasons.
### TODO: This cell currently runs an average across all seasons. Should be modified... at some point..

In [146]:
# Add weights for more recent seasons

# Construct a dictionary to store weighted WAR values for each player
# Dictionary format is - 'player name' : [list, of, WARs]
player_war_dict = {}

all_wars = pd.concat(cwar_by_season)
for _, row in all_wars.iterrows():
    if not row['player name'] in player_war_dict:
        player_war_dict[row['player name']] = []
    if use_cwar:
        player_war_dict[row['player name']].append(row['cWAR'])
    else:
        player_war_dict[row['player name']].append(row['WAR'])

for player_name in player_war_dict: print(f"{player_name} : {player_war_dict[player_name]}")

# Now, weight the WARs such that most recent ratings will be favored more
weighted_war_dict = {}
for player_name in player_war_dict:
    weighted_war_dict[player_name] = np.mean(player_war_dict[player_name])

aarav : [3.098217707572604]
arby : [2.0154772613961436, 1.828990320985307]
argon : [2.2491276671405913, 2.419783373311352, 2.2752147157986613, 2.4297127196538892]
azapatos : [4.525856082439189]
beeholder : [1.1411370507593406, 1.1060711641304224]
bern1s : [1.6031940355959626]
chyaboi : [2.7145935059111435]
deso : [2.3199343158530286, 2.5989283474950446, 2.516722534305642, 2.851885105267619]
dies : [1.427866183544053, 1.456292994412854, 1.8508920400913809]
double unicycle : [1.6683787860075514]
dreamz : [1.9599583901719329]
front flip freddy : [1.6654492622134105, 1.197645663206161, 2.0295358496969533, 1.8220241959314427]
g_llama : [1.033959625886732, 1.2173590938771346, 1.2496540959409668]
hotshot : [2.5279752521930017, 2.7492732095951595, 3.778694962442615]
kade : [3.699951823265237, 4.084821909225582]
king : [1.3792566057151698, 1.7280640410644086, 1.9132242288064814, 1.8803466878436896]
kooks : [2.615833053896311]
lukethighwalkr4 : [1.3193013906997069, 1.198652879079732, 1.7788327432767432, 0.9378637435437407]
luma : [2.2104984648530204, 1.4366335356824673]
mistermirz : [1.0116116653182243, 0.8149282487754076]
notmylos : [0.9785538714158712]
pastamafia : [0.6897825890690801, 0.8757847522221923]
paz : [1.1046526803373466, 0.8737224770063527]
peak : [3.3015358767656413, 3.494849068927305, 3.4735033246252565]
penquan : [1.7646668466496467, 1.575395383341616]
phrez : [1.4894870727704872, 1.3293188368576396]
pops : [2.1955096091216264, 2.145165089240943, 1.9426099141236195]
ral days : [2.2279527647507162, 2.3153116825651563, 2.9673673748912233, 2.412396033518728]
renshirokamazaki : [1.1442482636897258, 1.11516060953752, 1.1926832745880829, 1.2701873170655762]
rubber ducky : [2.218894316677933, 2.8346290801767307, 2.5304449598990226]
senor brightside : [1.7854344143307324, 2.143472738251215, 1.4252737625415253]
shooopen : [1.4109857852055707]
sooper : [2.1807227143449994]
terminator : [3.0979026211616505, 2.5046924202640524, 4.306056741826202]
tipsy : [2.514544233419046, 2.3881828579812474, 2.5500582142700976]
tophatbear : [1.9337093179885114, 1.621604037084113, 1.332743143183376]
toucan : [2.1066042559514577, 1.5747544735884986, 1.9458444645507706, 1.8779292092307758]
uday : [0.9871378824041861, 0.8892551525429537, 0.8290406626504107]
uncledrug : [1.6023347941123103]
venom : [2.808267926336013]
vpr.vnm : [2.429572142081042, 2.644440709352972, 2.496064884640549, 1.693254513246663]
vt stormzy : [1.8399218909840551]
awe : [1.360226175603703]
bylebukong : [2.461755501427111]
capi : [1.9464610021829052]
elatedthug : [1.1026480733972335, 1.506189802285309]
fernado : [2.100788567305943, 2.4210419917885115, 2.3326493897791893]
gangster.goose : [0.7988511190513667]
greensleeves : [2.5479889054287703, 3.6365106525763355]
leagueson : [2.257720224183254, 2.1552304275578336, 1.772990557051574]
leon : [2.9291150521834846, 2.7111275220437543]
mini : [3.5115776037466375]
snipey : [2.649256866228408, 2.1950879406008625, 2.1266065751275924]
testie : [1.6628835759545635, 1.667118514836796]
waycey : [1.4613764918606569, 1.399990351849302]
wika : [1.8077028399170463]
domo : [1.9194201062970344]
jmc : [1.2649767002830608]
kail : [1.9596202901019217]
roo : [0.8500675636732289, 1.6134250850766085]
sales : [2.177960449499302]
tortle : [1.500904275161228, 1.2261872448443902]
brictone : [1.6561843393910913]
capijack : [1.3909761468329354]
greencheeze : [2.7650327235476855]
jbassfox : [2.5204667895967505]
shaunch : [2.827429656656231]
theodorelasso : [1.5028178545634967]

In [147]:
# Convert dictionary to DataFrame
final_weighted_war = pd.DataFrame.from_dict(weighted_war_dict, orient='index', columns=['WAR'])

# Reset index to make player names a column
final_weighted_war.reset_index(inplace=True)

# Rename the columns
final_weighted_war.rename(columns={'index': 'player name'}, inplace=True)

# Sort by WAR and print final results to a csv
final_weighted_war = final_weighted_war.sort_values(by='WAR', ascending=False)
final_weighted_war.to_csv('results/final_war.csv', index=False)

# Part 6: Team Creation

#### This is using a greedy algorithm to create teams. Essentially, each team tries to make the highest total WAR team that they possibly can. Each team picks the highest rated player out of the remaining players. Then, whichever team has the lowest total WAR gets to pick next.

#### Note that this is not a perfect, be-all-end-all solution as it does not exhaustively test all combinations of teams. However, it does get pretty close.

In [148]:
# If there is anyone we need to manually assign a WAR, we can do it here
new_players = {
    'player name': ['ch'],
    'WAR':         [1.9205]
}

# For players who already exist but we need to overwrite their WAR
# final_weighted_war.loc[final_weighted_war['player name'] == 'tortle', 'WAR'] = 1.800

final_weighted_war = pd.concat([final_weighted_war, pd.DataFrame(new_players)], ignore_index=True)
final_weighted_war = final_weighted_war.sort_values(by='WAR', ascending=False)
final_weighted_war.reset_index(inplace=True, drop=True)
final_weighted_war.to_csv('results/final_war_with_new_players.csv', index=False)

In [152]:
# Signups for Spring 2024. Mostly used as a test.
# playerlist = ['kade', 'mini', 'peak', 'leon', 'snipey', 'greensleeves', 'terminator', 'bylebukong', 'hotshot', 'rubber ducky', 'deso',
#                      'leagueson', 'vpr.vnm', 'tipsy', 'ral days', 'argon', 'fernado', 'pops', 'capi', 'senor brightside', 'arby', 'toucan', 
#                      'tophatbear', 'wika', 'testie', 'waycey', 'king', 'awe', 'phrez', 'front flip freddy', 'lukethighwalkr4', 'dies', 'g_llama',
#                      'renshirokamazaki', 'elatedthug', 'beeholder', 'mistermirz', 'uday', 'gangster.goose']

# Signups for Summer 2024
# playerlist = ['peak', 'hotshot', 'shaunch', 'ral days', 'snipey', 'greencheeze', 'pops', 'vpr.vnm', 'argon', 'deso',
#               'fernado', 'brictone', 'jbassfox', 'king', 'senor brightside', 'tortle', 'capi', 'rutface',
#               'front flip freddy', 'lukethighwalkr4', 'testie', 'tophatbear', 'yopazzy', 'malmoo', 'roo',
#               'theodorelasso', 'renshirokamazaki', 'uday', 'toucan', 'tipsy', 'terminator', 'leon', 'leagueson']

playerlist = ['deso', 'tophatbear', 'argon', 'tortle', 'testie', 'arby', 'greensleeves', 'tipsy', 'paz',
              'leagueson', 'fernado', 'king', 'ral days', 'awe', 'capijack', 'ch', 'terminator', 'keaters', 'peanuthead',
              'snipey', 'peak', '5.0stormzy', 'pops', 'sqoid', 'alex', 'aarav', 'dies', 'front flip freddy',
              'definitelyanna', 'lukethighwalkr4', 'rubber ducky', 'vpr.vnm', 'renshirokamazaki']
 

print("Number of signups: ", len(playerlist), "\n")

playerlist = final_weighted_war[final_weighted_war['player name'].isin(playerlist)]

print("Signups w/ data: ", len(playerlist), "\n")

# Sort by WAR
playerlist = playerlist.sort_values(by='WAR', ascending=False)
playerlist.reset_index(inplace=True, drop=True)

print(playerlist, "\n")

playerlist.to_csv('results/playerlist_cur_season.csv', index=False)

# breaks = jpy.jenks_breaks(playerlist['WAR'], n_classes=4)
# playerlist['predicted_tier'] = pd.cut(playerlist['WAR'], bins=breaks, labels=['tier4', 'tier3', 'tier2', 'tier1'], include_lowest=True)

players = playerlist.to_dict('records')


# Initialize teams
teams = [[] for _ in range(len(playerlist) // 3)]
team_wars = [0] * (len(playerlist) // 3)

# List to store full teams
full_teams = []

# Assign players to teams greedily
for player in players:
    if len(teams) == 0:
        break  # If all teams are already full, break the loop
    
    # Find the team with the lowest WAR
    best_team_index = np.argmin(team_wars)
    teams[best_team_index].append(player)
    team_wars[best_team_index] += player['WAR']
    
    # Check if the team is full (3 players)
    if len(teams[best_team_index]) == 3:
        full_teams.append(teams[best_team_index])
        teams.pop(best_team_index)
        team_wars.pop(best_team_index)

# Display the full teams
print("Full Teams:")
for i, team in enumerate(full_teams):
    print(f"Team {i+1}:")
    for player in team:
        print(f"\t{player['player name']} (WAR: {player['WAR']})")
    print(f"\t\tTeam WAR: {sum(player['WAR'] for player in team)}")

# If there are any incomplete teams left, display them as well
if teams:
    print("\nIncomplete Teams:")
    for i, team in enumerate(teams):
        print(f"Incomplete Team {i+1}:")
        for player in team:
            print(f"\t{player['player name']} (WAR: {player['WAR']})")
        print(f"\t\tTeam WAR: {sum(player['WAR'] for player in team)}")

Number of signups:  33

Signups w/ data:  26

          player name       WAR
0                peak  3.423296
1          terminator  3.302884
2               aarav  3.098218
3        greensleeves  3.092250
4                deso  2.571868
5        rubber ducky  2.527989
6               tipsy  2.484262
7            ral days  2.480757
8               argon  2.343460
9              snipey  2.323650
10            vpr.vnm  2.315833
11            fernado  2.284827
12               pops  2.094428
13          leagueson  2.061980
14               arby  1.922234
15             tortle  1.800000
16               king  1.725223
17  front flip freddy  1.678664
18             testie  1.665001
19         tophatbear  1.629352
20               dies  1.578350
21           capijack  1.390976
22                awe  1.360226
23    lukethighwalkr4  1.308663
24   renshirokamazaki  1.180570
25                paz  0.989188

Full Teams:
Team 1:
	tipsy (WAR: 2.4842617685567974)
	snipey (WAR: 2.3236504606522876)
	king (WAR: 1.7252228908574374)
		Team WAR: 6.533135120066523
Team 2:
	ral days (WAR: 2.480756963931456)
	argon (WAR: 2.3434596189761234)
	front flip freddy (WAR: 1.6786637427619917)
		Team WAR: 6.502880325669571
Team 3:
	rubber ducky (WAR: 2.5279894522512287)
	vpr.vnm (WAR: 2.3158330623303063)
	testie (WAR: 1.6650010453956798)
		Team WAR: 6.508823559977214
Team 4:
	deso (WAR: 2.5718675757303338)
	fernado (WAR: 2.284826649624548)
	tophatbear (WAR: 1.6293521660853336)
		Team WAR: 6.486046391440215
Team 5:
	aarav (WAR: 3.098217707572604)
	leagueson (WAR: 2.0619804029308875)
	dies (WAR: 1.5783504060160958)
		Team WAR: 6.738548516519588
Team 6:
	greensleeves (WAR: 3.092249779002553)
	pops (WAR: 2.094428204162063)
	capijack (WAR: 1.3909761468329354)
		Team WAR: 6.577654129997551
Team 7:
	peak (WAR: 3.423296090106067)
	tortle (WAR: 1.8)
	awe (WAR: 1.360226175603703)
		Team WAR: 6.58352226570977
Team 8:
	terminator (WAR: 3.302883927750635)
	arby (WAR: 1.9222337911907252)
	lukethighwalkr4 (WAR: 1.3086626891499806)
		Team WAR: 6.53378040809134